<p>profile works!</p>
<div>fuck home kick ass</div>
<div class="list row">
    <div class="col-md-8">
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="Search by title"
          [(ngModel)]="title"
        />
        <div class="input-group-append">
          <button
            class="btn btn-outline-secondary"
            type="button"
            
          >
            Search
          </button>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <h4>Tutorials List</h4>
      <ul class="list-group">
        <li
          class="list-group-item"
          *ngFor="let employee of employees; let i = index"
          [class.active]="i == currentIndex"
          (click)="setActiveTutorial(employee, i)"
        >
          {{ employee.name }}
        </li>
      </ul>
  
      <button class="m-3 btn btn-sm btn-danger" >
        Remove All
      </button>
    </div>
    <div class="col-md-6">
      <div *ngIf="currentEmployee.id">
        <h4>Tutorial</h4>
        <div>
          <label><strong>Title:</strong></label> {{ currentEmployee.name }}
        </div>
        <div>
          <label><strong>Description:</strong></label>
          {{ currentEmployee.salary }}
        </div>
        <div>
          <label><strong>Status:</strong></label>
          {{ currentEmployee.age ? "Published" : "Pending" }}
        </div>
  
        <a class="badge badge-warning" routerLink="/tutorials/{{ currentEmployee.id }}">
          Edit
        </a>
      </div>
  
      <div *ngIf="!currentEmployee">
        <br />
        <p>Please click on a Tutorial...</p>
      </div>
    </div>
  </div>