<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, shrink-to-fit=no" />
        <title>HR COMPANY</title>
        <!-- <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/all.css">
        <link rel="stylesheet" href="css/fontawesome.min.css">
    <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="css/HRCOMPANY.css">
        <link rel="stylesheet" href="css/login.css"> -->
    </head>
    <body>



<!--start header-->
<div class="header">
  <div class="overlay">
  <div class="container text-center">
    <div class="row">
      <div class="col">
      </div>
    </div>
  </div>
</div>
</div>
<!--end header-->
<!--START FEATURES-->
    <div class="features text-center">
      <div class="container">
        <div class="text"><p>Join Us with a Free Membership to Access the Educational Tools <br> and Resources You Need to Stay Ahead and Compliant in the <br> Ever Changing World of HR</p></div>
        <div class="row">
          <div class="col-sm-6  col-lg-3">
            <a href="/">
              <img class="rounded-circle" src="" alt="">
            </a>
              <h3>Join</h3>
              <p>Network with other HR Professionals</p>
          </div>
          <div class="col-sm-6  col-lg-3">
              <a href="/">
                <img class="rounded-circle" src="" alt="">
              </a>
              <h3>Access</h3>
              <p>Thousands of articles, webcasts and eLearning Lessons</p>
          </div>
          <div class="col-sm-6  col-lg-3">
            <a href="/">
              <img class="rounded-circle" src="" alt="">
            </a>
              <h3>Participate</h3>
              <p>Share your own ideas with blogs and member content</p>
          </div>
          <div class="col-sm-6  col-lg-3">
            <a href="/">
              <img class="rounded-circle" src="" alt="">
            </a>
              <h3>Participate</h3>
              <p>Share your own ideas with blogs and member content</p>
          </div>
        </div>
      </div>
  </div>

<!--END FEATURES-->

<!--START FOOTER-->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-lg-6">
        <div class="site-info">
          <h2><span>H</span><span>R</span></h2>
          <p>
           <span class="lrtters">H</span>uman <span class="letters">R</span>esources <span class="lrtters">S</span>ystem. <hr>
            <p class="enter-p"> this our company for HR system we will help you to do your activites and we will give you all you need</p>
           
          <i class="fas  fa-chevron-circle-right"></i>
          <a href="#">Read More</a>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="helpful-links">
          <h2>Helpful Links</h2>
          <div class="row">
            <div class="col">
              <ul class="list-unstyled ">
                <li><i class="fas fa-check-circle ic"></i>About Us</li>
                <li><i class="fas fa-check-circle ic"></i>Plans</li>
                <li><i class="fas fa-check-circle ic"></i>Team</li>
                <li><i class="fas fa-check-circle ic"></i>Preferred</li>
              </ul>
            </div>
            <div class="col">
              <ul class="list-unstyled ic">
                <li><i class="fas fa-check-circle ic"></i>HR Check</li>
                <li><i class="fas fa-check-circle ic"></i>Resources</li>
                <li><i class="fas fa-check-circle ic"></i>Blog</li>
                <li><i class="fas fa-check-circle ic"></i>Privacy</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-6 col-lg-3">
        <div class="contact">
          <h2>Contact US</h2>
          <uL class="list-unstyled">
            <li><i class="fas fa-phone ic"></i> Phone: 804-715-1920 </li>
            <li><i class="fas fa-envelope-square ic"></i> Email: <a href="mailto:hr@company.com?subject=contact">hr@company.com</a></li>
          </uL>
        </div>
      </div>
    </div>
  </div>
</div>
<!--END FOOTER-->
 <!--start copyright-->
 <div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-center text-sm-left text-uppercase">
        copyright 2021 HR COMPANY &copy; ALL Right Reserved
      </div>
      <div class="col-sm-6 text-center text-sm-right">
         <ul class="unstyled">
           <li>
             <a href="#"><i class="fab fa-youtube"></i></a>
           </li>
           <li>
             <a href="#"><i class=" fab fa-facebook "></i></a>
           </li>
           <li>
            <a href="#">
              <i class=" fab fa-twitter " data-fa-mask="fas fa-squer"></i>
            </a>
           </li>
           
         </ul>
      </div>
    </div>
  </div>
</div>
<!--end copyright-->
<script src="jquery.js"></script>
  <script src="javascript.js"></script>
  <script src="js/jquery-3.2.1.min.js"></script>
  <script src="js/popper.min.js"></script>
  <script src="js/bootstrap.min.js"></script>
  <script src="js/all.js"></script>
</body>
</html>
